body{
    overflow-x: hidden;
    width: 100%;
}
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.heder{
    background-color: #003366;
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    width: auto;
}
.but_log{
    background-color: #edbf20;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 14px;
}

.meno{
    display: flex;
}
.meno:nth-child(2){
    margin-left: 40px;
    font-size: 80px;
}
.meno li a{
    color: aliceblue;
    font-size: 20px;
}

.logo{
    width: 10%;
}

.dore{
    display: flex;
    justify-content: center;
}